.bigcontainer{
    display: flex;
    justify-content: center;

}
.display{
    background-color: black;
    height: 200px;
    position: absolute;
    border-radius: 20px;
    display: flex;
    width: auto;
}
.input{
    width: 100%;
    height: 50px;
    color: #f0a33b;
    font-size: 45px;
    margin-top: 5px;
    justify-content: flex-start;
    
}
.output{
    width: 100%;
    height: 50px;
    color: #f0a33b;
    font-size: 45px;
    align-self: flex-end;
    margin-left: 120px;
}
.container{
    display: grid;
    grid-template-columns:repeat(4, 0.5fr) ;
grid-column-gap: 20px;
grid-row-gap: 38px;
grid-auto-rows: 50px;
background-color: black;
height: 660px;
width: 400px;
border-radius: 20px;
border: 2px solid black ;
}
.items5,.items6,.items7,.items9,.items10,
.items11,.items13,.items14,.items15,.items17,.items18,.items19{
margin-top: 220px;
    border-radius: 50%;
    font-size: 28px;
    border: 1px solid #343434;
    height: 80px;
    width: 80px;
background-color: #343434;
color: white;
}
.items1,.items2,.items3{
    margin-top: 220px;
    border-radius: 50%;
    border: 1px solid #a5a5a5;

    background-color: #a5a5a5;
    font-size: 28px;
    height: 80px;
    width: 80px;
color: black;
}
.items4,.items8,.items12,.items16,.items20{
    margin-top: 220px;
    border-radius: 50%;
    border: 1px solid #f0a33b;


    background-color: #f0a33b;
    font-size: 28px;
height: 80px;
width: 80px;
color: black;
}

